@import '../../styles/_components-variables.scss';

ul {
    list-style-type: none;
    padding-right: 20px;
}

li {
    display: inline-block;
    line-height: 40px;
    padding: 0 20px 0 20px;

    a {        
        color: darken(#fff, 30%);
        font-weight: 700;
        &:hover {
            color: darken(#fff, 10%);

        }
    }

    a.active {
      color: rgba(46, 244, 161, .7);
    }

}

nav {
    background-color: $black;
}

