<nav class="container-fluid">
  <ul class="text-center">
    <li><a routerLink="/todos" routerLinkActive="active">Todos</a></li>
    <li><a routerLink="/completed" routerLinkActive="active">Completed</a></li>
  </ul>
</nav>