<div class="row">

    <div class="col-12 col-md-3"></div>

    <div class="col-12 col-md-6">
      <app-todo appHoverable *ngFor="let todo of todos" [todo]="todo" (onDbModelChange)="reloadTodos()">
      </app-todo>
    </div>

    <div class="col-12 col-md-3"></div>


    <div class="col-10 col-md-8"></div>
    <div class="col-2 col-md-1">
      <div class="todos_add" routerLink='/add'>
      <fa name="plus"></fa>
    </div>
  
</div>