@import '../../styles/_components-variables.scss';

.todos_add {
    position: fixed;
    bottom: 60px;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 25px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.125s;
    background-color: rgba(0, 0, 0, .1);
    &:hover {
        box-shadow: 0px 0px 12px 1px rgba(170, 170, 170, 0.6);
        background-color: rgba(206, 10, 255, .5);
    }

    @media all and (max-width: 600px) {
        right: 35px;
    }
}