/* You can add global styles to this file, and also import other style files */

//font faces
@font-face {
    font-family: 'TypeB';
    src: url('../assets/fonts/Type-Bold.ttf');
}

@font-face {
    font-family: 'Kollektif Bold';
    src: url('../assets/fonts/kollektif/Kollektif-Bold.ttf');
}

//imports
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import './_components-variables.scss';
@import './colors.scss';

body {
    color: $black;
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(45deg, hsla(155, 94%, 73%, 1) 0%, hsla(155, 94%, 73%, 0) 70%), -webkit-linear-gradient(315deg, hsla(151, 91%, 49%, 1) 10%, hsla(151, 91%, 49%, 0) 80%), -webkit-linear-gradient(225deg, hsla(75, 100%, 94%, 1) 10%, hsla(75, 100%, 94%, 0) 80%), -webkit-linear-gradient(135deg, hsla(234, 100%, 75%, 1) 100%, hsla(234, 100%, 75%, 0) 70%);
    background: linear-gradient(45deg, hsla(155, 94%, 73%, 1) 0%, hsla(155, 94%, 73%, 0) 70%), linear-gradient(135deg, hsla(151, 91%, 49%, 1) 10%, hsla(151, 91%, 49%, 0) 80%), linear-gradient(225deg, hsla(75, 100%, 94%, 1) 10%, hsla(75, 100%, 94%, 0) 80%), linear-gradient(315deg, hsla(234, 100%, 75%, 1) 100%, hsla(234, 100%, 75%, 0) 70%);
}

.btn-submit {
    background-color :rgba($ElectricViolet, .4);
    color: #fff;

    &:hover {
        color: $primary;
        background-color: rgba($SpringGreen, .2);
        box-shadow: 0px 0px 2px 2px rgba(170, 170, 170, 0.6);
    }

    &:active {
        border: 1px solid $primary;
    }
}