@import '../styles/_components-variables.scss';

header {
    padding-top: 16px;
}

.main_signature {
    font-family: Signika;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 10px;
}

.app_title {
    font-family: TypeB;
}