<app-nav></app-nav>

<section class="container">
    <header class="row">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <h1 class="app_title">Angular Todos app</h1>
        </div>
        <div class="col-12 col-md-3"></div>
    </header>
    
    <router-outlet></router-outlet>
</section>

<footer class="footer">
    <div class="container">
        <div class="col-12">
            Visit
            <a href="https://github.com/tkleszczewski/angular-express-todo-app" target="_blank"> Angular Todo Repository</a>
            on github
            <a href="https://github.com/tkleszczewski" class="main_signature float-right" target="_blank"> tKleszczewski</a>
        </div>
    </div>
</footer>