@import '../../styles/_components-variables.scss';

.add-todo_wrapper {
    margin-top: 20px;
}

textarea {
    resize: none;
}

.form-control {
    &.ng-dirty {
        &.ng-invalid {
            border: 1px solid lighten($primary, 15%);
            box-shadow: 0 0 2px 2px lighten($primary, 30%);
        }
    }
}