<div class="todo_wrapper clearfix" (mouseover)="hovered = true" (mouseleave)="hovered = false">

  <h5 class="todo_title">
    {{todo.title}}
    <span class="todo_options-button todo_check" *ngIf="hovered && !todo.isCompleted" placement="bottom" ngbTooltip="check" (click)="moveToCompleted()">
      <fa name="check"></fa>
    </span>
    <span class="todo_options-button todo_uncheck" *ngIf="hovered && todo.isCompleted" placement="bottom" ngbTooltip="uncheck" (click)="moveToUncompleted()">
      <fa name="times"></fa>
    </span>
  </h5>

  <span class="float-right todo_options-block">
    
    <span class="todo_options-button todo_edit" placement="bottom" ngbTooltip="edit" routerLink="/edit/{{todo._id}}">
      <fa name="pencil"></fa>
    </span>

    <span class="todo_options-button todo_delete" placement="bottom" ngbTooltip="delete" (click)="deleteTodo(todo)">
      <fa name="trash"></fa>
    </span>

  </span>

  <div>
    {{todo.description}}
  </div>

  <div class="float-right">
    <fa name="user" class="todo_author-icon"></fa> <span class="todo_author">{{todo.author}}</span>
  </div>

  <app-spinner *ngIf="spinnerRunning">
  </app-spinner>

</div>
