@import '../../styles/_components-variables.scss';
@import '../../styles/colors.scss';

.todo_wrapper {
    border-bottom: 1px solid #dedede;
    margin-top: 10px;
}

.todo_title {
    display: inline-block;
    font-weight: 600;
    line-height: 30px;
}

.todo_author-icon {
    color: $black;
}

.todo_options-button {
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.125s;
    background-color: rgba($black, 0.05);

    &:hover {
        box-shadow: 0px 0px 8px 1px rgba(170, 170, 170, 0.6);
    }
}

.todo_edit {
    &:hover {
        background-color: rgba($black, .5);
    }
}

.todo_delete {
    &:hover {
        background-color: rgba($primary, .8);
    }
}

.todo_check {
    margin-left: 10px;
    &:hover {
        background-color: rgba(#93E815, 0.8);

    }
}

.todo_uncheck {
    margin-left: 10px;
    &:hover {
        background-color: rgba($LightningYellow, 0.8);
    }
}