<div class="edit-todo_wrapper">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(editTodoForm)" #editTodoForm="ngForm">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Enter Todo Title" id="title" name="title" required [(ngModel)]="todo.title"
            #title="ngModel">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="title.errors && title.dirty">
          Todo Title is Required!
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea type="text" class="form-control" placeholder="Enter Todo Description" rows="5" id="description" name="description"
            [(ngModel)]="todo.description">
          </textarea>
        </div>
        <div class="form-group">
          <label>Author</label>
          <input type="text" class="form-control" placeholder="Enter Todo Author" id="author" name="author" required [(ngModel)]="todo.author"
            #author="ngModel">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="author.errors && author.dirty">
          Todo Author is Required!
        </div>
        <button type="submit" class="btn btn-submit float-right">Submit</button>
        <div class="clearfix"></div>
        <div class="alert alert-danger" *ngIf="!isFormValid">Form is Invalid</div>
      </form>
    </div>
  </div>
</div>